body{
	height: 100%;
}

#mainNav {
    text-align: center;
}


#chips {
  position: fixed;
  bottom: 165px;
  width: 700px;
  padding-left: 200px;
}

.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  font-size: 22px;
  border-radius: 25px;
  border-style: dashed;
  border-width: 3px;
  border-color: black;
  
}

#game {
    background: transparent url('/images/bjbg.png') 0 0 no-repeat;
    color: #333;
    font: 14px/17px Helvetica, Arial, Verdana, sans-serif;
    height: 80vh;
    margin: 100px 0 0 200px;
    position: relative;
    width: 100vw;
}

div[id*="pcard"] .popover { left: -95px !important; }
div[id*="dcard"] .popover { left: -105px !important; }

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

h3 {
    margin: 5px 0;
    text-align: center;
}



div#dscore {
    position: absolute;
    bottom: 30px;
}

div#pscore {
    position: absolute;
    bottom: 15px;
}

div#phand, div#dhand {
    font-weight: 700;
    /*left: 50%;*/
    position: absolute;
    top: -122px;
    white-space: nowrap;
    width: 1000px;
}

div#phand { }

div#dhand { }

div[class*="card"] {
    background: #FFF;
    border: 6px solid #FFF;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    display: inline-block;
    height: 106px;
    margin: 0 5px;
    position: absolute;
    right: 0;
    width: 79px;
}

.down {
    background: #B20000 url('http://clowerweb.com/games/blackjack/card.png') center center no-repeat !important;
}

span.pos-0 {
    left: 0;
    position: absolute;
    top: 0;
}

span.pos-1 {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    position: absolute;
    right: 0;
    transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

span.rank {
    font-size: 18px;
}

span.suit {
    font-size: 22px;
}

.black {
    color: #000;
}

.red {
    color: #F00;
}

#result {
    position: absolute;
    bottom: 0;
}

#actions {
    margin: 15px 0 0 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

input#wager { margin-left: 5px; position: relative; top: 4px }

#money, #money:before {
    border-radius: 5px;
    top: 0;
    height: 80px;
    padding: 7px;
    position: absolute;
    left: 0;
    width: 250px;
}

#money:before {
    background: #333;
    content: '';
    opacity: 0.8;
}

#cash, #bank {
    color: #FFF;
    font: 700 18px/20px Helvetica, Arial, Verdana, sans-serif;
    margin: 12px 0;
    position: relative;
    text-shadow: 1px 1px #000;
    z-index: 1;
}

#alert {
    margin: 0 auto;
    opacity: 0.95;
    position: relative;
    text-align: center;
    top: 34.5%;
    width: 500px;
    z-index: 0;
}