<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <!-- Bootstrap Core CSS -->
    <link href="/../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/../../css/login.css" rel="stylesheet" type="text/css">

</head>
<body>