#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.form-container {
    padding-top: 250px;
    width: 400px;
    margin: auto;
}

.credits {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 20px;
}

#login, #un, #pw {
    color: #ddd;
}