body {
    padding-top: 100px;
    background-image: url('/../images/login.png');
    background-repeat: no-repeat;
    background-position: cover;
    backgr
    height: 1035px;
    width: 100%;
}

.form-container {
    width: 400px;
    margin: auto;
}

.credits {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 20px;
}