body {
    padding-top: 100px;
    background-image: url('/../images/login.jpeg');
    background-repeat: no-repeat;
    background-position: cover;
    height: 100%;
    width: 1400px;
}

.form-container {
    width: 400px;
    margin: auto;
}

.credits {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 20px;
}